{% extends 'auditoria_app/base_log.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login_cads.css' %}">

<div class="form-signin text-center">
    <form action="{% url 'auditoria_app:entra' %}" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        
        <div class="form-floating">
            <input type="email" name="username" class="form-control" id="floatingInput" placeholder="Email "
            required>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Senha"
            required>
        </div>
        
    <div class="button-group">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Acessar</button>
        </form>
        <form action="{% url 'auditoria_app:cads' %}" method="post">
            {% csrf_token %}
        <button class="w-100 btn btn-lg btn-primary" style="width: 100%;" type="submit">Cadastrar</button>
        </form>
    </div>
    <p class="mt-5 mb-3 text-muted" style="color: #6a6a6ad4;">&copy; 2024</p>
</div>
{% if validacao > 0 %}
<div id="welcomeModal" class="modal" style="display:block;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>{{ sms }}</p>
    </div>
</div>
{% endif %}
{% endblock %}